<div class="card" *ngFor="let contact of contacts">
    <div class="banner">
        <div class="avatar"></div>
    </div>

    <h3>{{contact.name}} {{contact.lastname}}</h3>
    <a href="mailto:{{contact.email}}">{{contact.email}}</a>
    <a href="#">Phone: {{contact.phone}}</a>
    <a href="#">Business: {{contact.business}}</a>

    <ul>
        <a href="#" target="_blank"><img src="../../../assets/social-networks/facebook-f.svg" alt="Facebook"></a>
        <a href="#" target="_blank"><img src="../../../assets/social-networks/twitter.svg" alt="Twitter"></a>
        <a href="#" target="_blank"><img src="../../../assets/social-networks/instagram.svg" alt="Instagram"></a>
        <a href="#" target="_blank"><img src="../../../assets/social-networks/linkedin-in.svg" alt="LinkedIn"></a>
    </ul>

    <button type="button" class="btn btn-danger" (click)="deleteContact(contact._id)">Delete</button>
    <button type="button" class="btn btn-sucess">Edit</button>
</div>