<div class="container">
    <div class="card" *ngFor="let contact of contacts">
        <div class="banner">
            <div class="avatar">
                <img class="photo" src="{{contact.photo}}" alt="Photo">
            </div>
        </div>
    
        <div class="container-data-user">
            <h3>{{contact.name}} {{contact.lastname}}</h3>
            <a href="mailto:{{contact.email}}">{{contact.email}}</a>
            <a href="/#/contact">Phone: {{contact.phone}}</a>
            <a href="https://www.google.com/search?q={{contact.business}}&rlz=1C1CHZN_esCO1014CO1014&oq={{contact.business}}&aqs=chrome..69i57j0i433i512j0i512j69i65l3j69i60l2.2440j0j7&sourceid=chrome&ie=UTF-8">Business: {{contact.business}}</a>
            <a href="https://www.google.com/search?q={{contact.role}}&rlz=1C1CHZN_esCO1014CO1014&ei=QypZY7L0ILqQwbkPpvmb4Ao&ved=0ahUKEwjyoZTp9P36AhU6SDABHab8BqwQ4dUDCA8&uact=5&oq={{contact.role}}&gs_lcp=Cgdnd3Mtd2l6EAMyBwgAELEDEEMyBAgAEEMyBAgAEEMyBAgAEEMyBAgAEEMyBAgAEEMyBQgAEIAEMgUIABCABDIFCAAQgAQyCwguEIAEEMcBEK8BOg0ILhDHARDRAxDUAhBDOgsIABCABBCxAxCDAToRCC4QgAQQsQMQgwEQxwEQrwE6CggAELEDEIMBEEM6CAgAEIAEELEDOggILhCABBCxAzoOCC4QgAQQsQMQxwEQ0QNKBAhNGAFKBAhBGABKBAhGGABQAFimCWD9CmgBcAF4AIAB5gGIAaEIkgEFMC42LjGYAQCgAQGwAQDAAQE&sclient=gws-wiz">Role: {{contact.role}}</a>
        </div>
    
        <ul>
            <a href="#" target="_blank"><img class="social-links" src="../../../assets/social-networks/facebook-f.svg" alt="Facebook"></a>
            <a href="#" target="_blank"><img class="social-links" src="../../../assets/social-networks/twitter.svg" alt="Twitter"></a>
            <a href="#" target="_blank"><img class="social-links" src="../../../assets/social-networks/instagram.svg" alt="Instagram"></a>
            <a href="#" target="_blank"><img class="social-links" src="../../../assets/social-networks/linkedin-in.svg" alt="LinkedIn"></a>
        </ul>
    
        <div class="container-btn-card">
            <button type="button" class="btn-card btn-edit">Edit</button>
            <button type="button" class="btn-card btn-delete" (click)="deleteContact(contact._id)">Delete</button>
        </div>
    </div>
</div>