.collapse .nav-link {
    font-size: 1rem;
}
.navbar{
    padding: 20px;
    color: #FFF;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #0a9396;
    border-bottom: 2px solid #000;
}
.nav-link {
    cursor: pointer;
    color: #FFF;
}
.nav-link:hover {
    color: #94d2bd;
}
.navbar-brand {
    color: #001219;
    font-size:1.5rem;
}
.navbar-brand:hover {
    color: #2f3e46;
}