<div class="container-create-contact row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">Create Contact</h1>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" type="text" id="name" name="name">
                    </div>
        
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" id="email" name="email">
                    </div>
        
                    <div class="form-group">
                        <label for="business">Business</label>
                        <input class="form-control" type="text" id="phone" name="Business:">
                    </div>
        
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input class="form-control" type="text" id="address" name="Phone:">
                    </div>
        
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="text" id="city" name="Email:">
                    </div>
        
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>